extends ./layout/index


block slider 
    .slider 
        h1 Rio de Janeiro 
        em Aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur enim dolorem deserunt nam, quasi libero accusantium iste molestiae, inventore ad modi beatae quisquam explicabo vitae eius ullam voluptatibus iure voluptatem.

                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, natus numquam explicabo qui illum impedit dolores doloribus libero temporibus possimus saepe accusantium ipsa ducimus aperiam repellendus eum cumque alias fugit?

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            
        include ./layout/bloque_viajes

    .descuento  
        .container 
            .row 
                .col-md-6 
                    .contenido  
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD        

    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales