extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Img Sobre nosotros", class="img-fluid")

            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed pretium diam. Duis dictum justo eu tortor tincidunt convallis. Nam auctor varius magna. Proin rutrum, felis ac commodo facilisis, neque libero dapibus enim, non tristique nisi massa quis purus. Etiam varius, tellus ut blandit semper, tortor odio sollicitudin dui, quis malesuada enim risus vitae nibh.

                p Praesent sit amet justo ut eros sodales condimentum vel id est. Nam vel maximus odio, vitae porttitor purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ut quam eu ligula mattis tempor vel et libero. Quisque quam lacus, tempor non urna ornare, maximus malesuada magna. Sed non ligula ligula. Ut blandit quam neque, scelerisque scelerisque velit eleifend et.

                p Proin non dui sapien. Cras eget varius libero. Vivamus sagittis cursus tellus nec vulputate. Cras egestas, risus non efficitur fringilla, neque nibh fringilla nunc, in sollicitudin quam nulla vel mi. Etiam a risus dolor. Curabitur tristique commodo elit, eget dictum lectus elementum aliquam. Mauris fringilla eros et lectus commodo elementum. Sed placerat faucibus quam. 

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4   
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Mauris fringilla eros et lectus commodo elementum. Sed placerat faucibus quam. Mauris fringilla eros et lectus commodo elementum. Sed placerat faucibus quam. 

                .col-md-4   
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Mauris fringilla eros et lectus commodo elementum. Sed placerat faucibus quam. Mauris fringilla eros et lectus commodo elementum. Sed placerat faucibus quam. 

                .col-md-4   
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Mauris fringilla eros et lectus commodo elementum. Sed placerat faucibus quam. Mauris fringilla eros et lectus commodo elementum. Sed placerat faucibus quam. 

